<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The Fantastic Portfolio of Javier Gonzalez III. Web Developer proficient in C#, JavaScript, TypeScript and Python; seeking new opportunities.">
    <meta name="keywords" content="HTML,CSS,JavaScript,jQuery,videos,Portfolio,Bootstrap, Web Developer,Javier,Gonzalez,Javier Gonzalez III,for hire,freelance,C#,Python,MEAN,ASP.NET Core, .NET, .NET Core, Angular, Node.js,Node,Express,MongoDB,SQLite,PostgreSQL">
    <meta name="author" content="Javier Gonzalez III">
    <title>@ViewData["Title"] - Javier's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/portfolio.css">
    <script src="~/js/videos.js"></script>
    <script src="~/js/navbar.js"></script>
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <div class="container">
            
        </div>
        <p class="text-center">&copy; 2018 - Javier's Portfolio</p>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
